.barra-busqueda{
    background-color: #1a1a1a;
    display: flex;
    justify-content: end;
    padding: 50px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: dimgrey;
    width: 250px;
    height: 100vh;

}
.contenedor button{
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}




